{[:app.user.user-db.impl-kv/by-user-id
  "user:ce4f2e78-ade2-4a0d-b9ac-a43056cd2280"]
 {:user/phone-number "123",
  :user/user-id "user:ce4f2e78-ade2-4a0d-b9ac-a43056cd2280",
  :user/username "movie finder 276236",
  :user/avatar-seed "movie finder 276236",
  :user/created-at 1746752045202,
  :kv/value nil,
  :result/type :result/ok},
 [:app.user.user-db.impl-kv/by-user-ids-by-phone-number "123"]
 {:user/phone-number "123",
  :user/user-id "user:ce4f2e78-ade2-4a0d-b9ac-a43056cd2280",
  :user/username "movie finder 276236",
  :user/avatar-seed "movie finder 276236",
  :user/created-at 1746752045202,
  :kv/value nil,
  :result/type :result/ok},
 [:app.auth.session.session-db.impl-kv/by-session-id
  "c7baa457-e0cb-4758-aa18-13d91bff0fbf"]
 {:session/user-id "user:ce4f2e78-ade2-4a0d-b9ac-a43056cd2280",
  :session/session-id "c7baa457-e0cb-4758-aa18-13d91bff0fbf",
  :session/created-at 1746752045202},
 [:kv-test/ns-1 "same-key"] {:kv-test/data "value-1"},
 [:kv-test/ns-2 "same-key"] {:kv-test/data "value-2"}}
