;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "1.2.0"]]

 :dev-http {8080 "public"} 

 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn moviefinder-app.frontend/-main}}}
  :backend
  {:target :node-script
   :main moviefinder-app.backend/-main
   :output-to "out/backend/main.js"}
  :test
  {:target :node-test
   :output-to "out/test/test.js"
   :autorun true}}}
